/** biome-ignore-all lint/suspicious/noUnknownAtRules: ok */

@import "tailwindcss";

:root {
  --background: rgb(0, 0, 25);
  --foreground: #fff;
  --primary: #0000ff;
  --primary-foreground: oklch(80.9% 0.105 251.813);
  --muted: oklch(0.18 0.01 250);
  --muted-foreground: oklch(0.7 0.01 250);
}

@theme inline {
  --font-title: var(--font-title);
  --font-text: var(--font-text);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4 {
  @apply font-title scroll-m-20 text-primary-foreground font-bold whitespace-nowrap tracking-tighter;
}

.h1-mdx {
  @apply text-4xl;
}

.h2-mdx {
  @apply text-3xl pt-6 pb-4;
}

.h3-mdx {
  @apply text-2xl pt-5 pb-3;
}

.h4-mdx {
  @apply text-xl pt-4 pb-2;
}

.p-mdx {
  @apply leading-relaxed text-justify mt-4;
}

.a-mdx {
  @apply text-foreground/90 decoration-foreground/70 decoration-1;
  @apply underline underline-offset-4 hover:underline-offset-5;
}

.em-mdx {
  @apply font-medium;
}

.strong-mdx {
  @apply font-medium;
}

.ul-mdx {
  @apply ml-6 list-disc;
}

.ol-mdx {
  @apply ml-6 list-decimal;
}

.li-mdx {
  @apply [&:not(:first-child)]:mt-2;
}

.blockquote-mdx {
  @apply mt-6 border-l-2 pl-5 italic;
}

.hr-mdx {
  @apply my-4 md:my-8;
}

.small-mdx {
  @apply text-sm font-medium leading-none;
}

.code-mdx {
  @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}
